  /* --md-code-hl-number-color
 --md-code-hl-special-color 
 --md-code-hl-function-color
 --md-code-hl-constant-color
 --md-code-hl-keyword-color
 --md-code-hl-string-color
 --md-code-hl-name-color
 --md-code-hl-operator-color
 --md-code-hl-punctuation-color
 --md-code-hl-comment-color
 --md-code-hl-generic-color
 --md-code-hl-variable-color
  [data-md-color-scheme="slate"] 
   */

[data-md-color-scheme="slate"] {

  --md-code-bg-color: #282c34;
  --md-code-fg-color: #FFFFFF;
  --md-code-hl-variable-color: #e06c75;
  --md-code-hl-constant-color: #d19a66;
  --md-code-hl-operator-color: #c678dd;
  --md-code-hl-string-color: #98c379;
  --md-code-hl-function-color: #61afef;
  --md-code-hl-keyword-color: #56b6c2;
  --md-code-hl-name-color: #abb2bb;
  --md-code-hl-comment-color: #7c838e;
  --md-code-hl-punctuation-color: #a3aab7;
}

[data-md-color-scheme="slate"] .highlight .nb {
  color: #61afe3;
}
/*Function Keyword */
[data-md-color-scheme="slate"] .highlight .k {
  color: #c678dd;
}

[data-md-color-scheme="default"] {

  --md-code-bg-color: #fafafa;
  --md-code-fg-color: #383a42;
  --md-code-hl-variable-color: #e45649;
  --md-code-hl-constant-color: #a626a4;
  --md-code-hl-operator-color: #383a42;
  --md-code-hl-string-color: #50a14f;
  --md-code-hl-function-color: #0184bc;
  --md-code-hl-keyword-color: #0000ff;
  --md-code-hl-name-color: #383a42;
  --md-code-hl-comment-color: #a0a1a7;
  --md-code-hl-punctuation-color: #319331;


}

/*Function Name */
[data-md-color-scheme="default"] .highlight .nb {
  color: #4078f2;
}
/*Function Keyword */
[data-md-color-scheme="default"] .highlight .k {
  color: #a626a4;
}

blockquote {
  border-left: 4px solid gray;
  font-weight: bold;
  padding-left: 1em;
}


li.toctree-l2 > a:link,
li.toctree-l2 > a:visited {
  font-weight: bold;
  color: #404040;
  margin-left: -6px;
}
/* 
.md-typeset h1 {
  text-transform: uppercase;
}

.md-typeset h2 {
  text-transform: uppercase;
} */
